
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# config files with API keys
/frontend/src/components/auth/config.js
/backend/config.js

# backend
backend/node_modules
backend/nodemon.json


# dependencies
/frontend/node_modules
/frontend/.pnp
frontend/.pnp.js

# testing
/frontend/coverage

# production
/frontend/build


# misc
frontend/.DS_Store
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
backend/gcloud/abal-sps-summer20-30b729fb75af.json
backend/gcloud/keys.json
