.form-row {
  margin-top: 2rem;
}

.last-row {
  margin-bottom: 3rem;
}

.chips {
  display: "flex";
}

.chip {
  margin: 2;
}

.center {
  text-align: center;
}

h1 {
  text-align: center;
}

.marginTop {
  margin-top: 2%;
  height: 80%;
}

.container-class {
  background-image: url("../images/red.jpg");
  background-repeat: no-repeat;
  background-size: 40% 40%;
  background-position: center;
  border: 2px goldenrod;
}
