.title {
  flex-grow: 1;
  font-family: "cursive";
}

/* Centered text */
.centered {
  position: absolute;
  top: 20%;
  left: 70%;
  opacity: 1;
  transform: translate(-50%, -50%);
}

.text {
  color: white;
  font-style: italic;
  font-family: "Times New Roman", Times, serif;
  font-size: 80px;
  text-shadow: 2px 2px rgb(255, 0, 0);
}

.description {
  position: absolute;
  top: 45%;
  left: 70%;
  color: black;
  font-style: italic;
  font-family: cursive;
  font-size: large;
  opacity: 4;
  transform: translate(-50%, -50%);
}
.description2 {
  position: absolute;
  top: 40%;
  left: 70%;
  color: black;
  font-style: italic;
  font-family: cursive;
  font-size: large;
  opacity: 4;
  transform: translate(-50%, -50%);
}
.description3 {
  position: absolute;
  top: 47%;
  left: 70%;
  color: black;
  font-style: italic;
  font-family: cursive;
  font-size: large;
  opacity: 4;
  transform: translate(-50%, -50%);
}
